<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<h2>Welcome to Ocean Raider</h2>

	<form action="/action_page.php">
	  Pirate name:<br>
	  <input type="text" name="firstname" value="Jeff">
	  <br>
	  Ship name:<br>
	  <input type="text" name="lastname" value="Bloomberg">
	  <br>
	  Difficulty:<br>
	  <input type="radio" name="difficulty" value="easy" checked> Easy<br>
	  <input type="radio" name="difficulty" value="medium"> Medium<br>
	  <input type="radio" name="difficulty" value="hard"> Hard<br>
	  <br>
	  <input type="submit" value="Submit">
	</form> 
</body>
</html>
